* {
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    margin-top: 50px;
    margin-left: 50px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 16rem;
    margin: 0px 3px;
}

@media screen and (max-width: 768px) {
    .card {
        width: 10rem;
    }
}

#text-container {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

#description {
    margin-top: 50px;
    font-size: 1.5rem;
}