* {
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 4rem;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
}

.card {
    width: 16rem;
    margin: 0px 3px;
}

#text-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.description {
    margin-top: 50px;
    font-size: 1.5rem;
    position: inherit;
}

.carousel-item {
    height: 75vh;
}

.carousel-caption>h1 {
    font-size: clamp(2rem, 4.5vw, 5rem);
    margin-bottom: 15px;
}

.carousel-caption>p {
    font-size: clamp(1.5rem, 2vw, 3rem);
    margin-bottom: 5rem;
    font-weight: 300;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
}

.carousel-inner {
    /* fallback color */
    background-color: #000;
    background: linear-gradient(rgba(0, 0, 0, 1) 43%, #1c0231 100%);
}

.carousel-item>img {
    position: absolute;
    opacity: .4;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Responsive */
@media screen and (max-width: 1300px) {
    .card {
        width: 12rem;
    }
}

@media screen and (max-width: 970px) {
    .carousel-item {
        height: 20vh;
    }

    .carousel-caption {
        display: none;
    }

}