* {
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

/* CSS HEX */
/* --dark-goldenrod: #b68b24ff;
--white: #fcfaf9ff;
--blue-violet-color-wheel: #541782ff;
--old-burgundy: #503d42ff;
--steel-teal: #6c969dff;

/* CSS HSL */
/* --dark-goldenrod: hsla(42, 67%, 43%, 1);
--white: hsla(20, 33%, 98%, 1);
--blue-violet-color-wheel: hsla(274, 70%, 30%, 1);
--old-burgundy: hsla(344, 13%, 28%, 1);
--steel-teal: hsla(189, 20%, 52%, 1); */

#main-nav {
    padding: 5px;
    background-color: #541782ff;
}

.nav-link {
    color: #fcfaf9ff !important;
}