body {
    background: linear-gradient(hsla(190, 20%, 30%, 0.5), hsla(190, 20%, 30%, 0.5)), url(https://laurenh064.github.io/p1_website/images/img4.jpg), no-repeat center center;
    backdrop-filter: blur(2px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden
}

#main-section {
    color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-container>* {
    margin-top: 15px;
}

.main-container {
    text-align: center;
}

.title {
    /* Font size resizes, but does not exceed 5rem or go below 2rem */
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 700;
}

.subtitle {
    font-size: clamp(1.5rem, 3vw, 3rem);
    /* font-size: 2rem; */
}

img.container-row.logo {
    width: 40%;
    height: 40%;
}

#socials-nav {
    background-color: rgba(255, 255, 255, 0);
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* On page load animation */
@keyframes slideInLeft {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.main-container {
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: slideInLeft;
}